<% if cookies.signed[:authenticated] %>
  <% if @survey == nil %>
    <h2>Choose A Survey First</h2>
  <% else %>
    <h2>Rate This Suggestion</h2>
    <table border="1">
      <tr>
        <td><%= @survey.suggestion %> </td>
      </tr>
    </table><br />
    <% form_for :choice, :url => {:action => "surveyResult"} do |f| %>
      <%= f.radio_button :rating, "strongly_agree"  %><%= f.label "Strongly Agree" %><br />
      <%= f.radio_button :rating, "agree"  %><%= f.label "Agree" %><br />
      <%= f.radio_button :rating, "neutral"  %><%= f.label "Neutral" %><br />
      <%= f.radio_button :rating, "disagree"  %><%= f.label "Disagree" %><br />
      <%= f.radio_button :rating, "strongly_disagree"  %><%= f.label "Strongly Disagree" %><br />
      <%= f.hidden_field :survey, :value => @survey.survey %><br />
      <%= f.hidden_field :userid, :value => cookies.signed[:user_id] %><br />
      <%= f.submit "Submit" %>
    <% end %>
  <% end %>
<% end %>
